<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Transacao - PIX</title>
    <style>.error {color: red;}</style>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div class="container text-center">

    <div>
        <h1>Nova Transacao - PIX</h1>
    </div>

    <form th:action="@{/transacao/pix(id=${contaId})}" method="post" th:object="${transacao}">
        <div class="form-outline mb-4">
            <label>Chave PIX</label>
            <input type="text" class="form-control" name="chavePix" required>
            <p th:if="${#fields.hasErrors('chavePix')}" th:errorclass="error" th:errors="*{chavePix}">Erro</p>
        </div>
        <div class="form-outline mb-4">
            <label>Valor</label>
            <input type="number" step="0.01" class="form-control" name="valorTransacao" min="0.01" max="5000" required>
            <p th:if="${#fields.hasErrors('valorTransacao')}" th:errorclass="error" th:errors="*{valorTransacao}">Erro</p>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    </form>

</div>

</body>
</html>
