<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banco Turing</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div class="container text-center">

    <div>
        <h1>PIX realizado com sucesso!</h1>
    </div>

    <div class="text-center">
        <h3>Sua transferência foi realizada com sucesso!</h3><br>
        Saldo do emissor: R$ <td th:text="${saldoEmissor}">X,XX</td>
        <br>
        Saldo do receptor: R$ <td th:text="${saldoReceptor}">X,XX</td>
    </div>

    <a class="btn btn-primary" th:href="@{/}" role="button">Voltar à pagina principal</a>

</div>

</body>
</html>
