<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div class="container text-center">
    <div>
        <h1>Cadastro</h1>
    </div>
    <form th:action="@{/cadastro}" method="post">
        <div class="form-outline mb-4">
            <label>CPF ou CNPJ</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="form-outline mb-4">
            <label>Senha</label>
            <input type="password" class="form-control" name="password" required minlength="8" maxlength="8">
            <div style="color: red" th:if="${#fields.hasErrors('user')}" th:errors="*{password}"/>
        </div>
        <div class="form-outline mb-4">
            <label>Nome Completo</label>
            <input type="text" class="form-control" name="nomeCompleto" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

        <div th:if="${#fields.hasErrors('user')}">
            <p th:errors="*{username}" th:text="${err}">Erros</p>
            <p th:errors="*{password}" th:text="${err}">Erros</p>
        </div>

        <div class="text-center">
            <p>Ja possui a conta? <a th:href="@{/login}">Login</a></p>
        </div>
    </form>


</div>

</body>
</html>
