<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div align="center">
    <h3>Welcome, <td th:text="${nomeCompleto}">Nome Completo</td></h3>

    <form th:action="@{/sair}" method="post">
        <input type="submit" value="Logout" />
    </form>

    <h1>Contas</h1>

    <br/><br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Conta</th>
            <th scope="col">Saldo</th>
            <th scope="col">Trasnferencia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conta : ${listaContas}">
            <td th:text="|${conta.nroBanco}-${conta.nroAgencia}-${conta.nroConta}|">Nro Conta</td>
            <td th:text="${conta.saldo}">Saldo</td>
            <td>
                <a th:href="@{/transacao/pix(id=${conta.id})}">PIX</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/transacao/ted(id=${conta.id})}">TED</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/transacao/doc(id=${conta.id})}">DOC</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3><a th:href="@{/conta/nova}">Adicionar nova conta</a></h3>

</div>
</body>
</html>